body {
  position: relative;
  margin: 0;
  position: relative;
  background-color: #4c0285;
  color: #fefefe;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif; }

.main-container {
  padding: 0 9%; }

.container {
  width: calc(100% - 30px);
  margin: 0 15px; }
  @media (min-width: 768px) {
    .container {
      width: calc(100% - 140px);
      margin: 0 70px; } }

.main-header {
  padding-top: 73px;
  padding-bottom: 145px; }
  .main-header__logo {
    margin-right: auto; }
  .main-header__top-panel {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 53px; }
  .main-header__content-wrap {
    display: flex; }
  .main-header__left-content {
    width: 60%; }
  .main-header__right-content {
    width: 40%; }
  .main-header__header {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.35;
    margin-top: 0;
    margin-bottom: 23px; }
  .main-header__promo {
    font-size: 25px;
    margin-bottom: 23px; }
  .main-header__description {
    font-size: 18px;
    margin-bottom: 70px; }
  .main-header__img-container {
    position: relative;
    width: 70%;
    margin-right: 69px;
    padding-top: 5px; }
    .main-header__img-container:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 110%;
      height: 110%;
      background-image: url(../img/pink-round-gradient.png);
      background-size: 100% auto;
      background-repeat: no-repeat;
      z-index: -1; }
  .main-header__image {
    width: 100%;
    height: auto; }
  .main-header__button {
    margin-left: 34px; }

.intro {
  background-color: #fefefe; }
  .intro__inner-wrap {
    display: flex;
    padding-top: 70px;
    padding-bottom: 185px; }
  .intro__left {
    width: 60%; }
  .intro__right {
    width: 40%;
    padding-top: 55px; }
  .intro__header {
    margin-top: 0;
    color: darkgray;
    font-size: 50px;
    font-weight: 400;
    opacity: 0.8; }
  .intro__subheader {
    color: #000000;
    font-size: 30px;
    font-weight: 400; }
  .intro__text {
    color: #000000;
    opacity: 0.96;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
  .intro__mainpic {
    width: 80%;
    box-shadow: -30 30 10 0 #00050c; }
  .intro__decor {
    width: 100%;
    background-color: #fefefe;
    background-size: cover; }
    .intro__decor--top {
      height: 56px;
      background-image: url(../img/wave-top.png); }
    .intro__decor--bottom {
      height: 67px;
      background-image: url(../img/wave-bottom.png); }

.users {
  padding-top: 50px;
  padding-bottom: 85px;
  background-color: #eb38d8;
  background-image: linear-gradient(to bottom, #4c0285 0%, #440286 100%); }
  .users__header {
    font-size: 50px;
    line-height: 1;
    font-weight: 400; }
  .users__gallery-wrap {
    margin-bottom: 100px; }
  .users__join {
    text-align: center; }

.usercard {
  width: 369px;
  color: #fefefe;
  text-align: center;
  margin: 0 200; }
  .usercard__foto {
    width: 100%;
    height: auto; }
  .usercard__name {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700; }
  .usercard__about {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400; }

.linlimade {
  position: relative;
  width: 100%;
  height: 81px;
  background-color: #440286; }
  .linlimade::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.28;
    z-index: 2; }
  .linlimade__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81px;
    color: #fefefe;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    z-index: 3; }
  .linlimade__logo {
    margin-right: 7px;
    width: 12.8px;
    height: 20px; }

.button {
  display: inline-block;
  padding: 17px 10px;
  text-align: center;
  text-decoration: none;
  color: #fefefe;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #ed57dd;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s; }
  .button:hover {
    background-color: #ed57dd; }
  .button--transparent {
    padding: 0;
    border: none;
    background-color: transparent; }
  .button--transparent:hover {
    color: #ed57dd;
    background-color: transparent;
    border: none; }

.linli-button-red {
  display: block;
  background-color: #f2489c;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #fefefe;
  font-weight: normal;
  text-decoration: none;
  border: 2px solid #f2489c;
  margin-bottom: 1.5em;
  border-radius: 5px; }

.linli-button-blue {
  display: block;
  background-color: #6292da;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #fefefe;
  font-weight: normal;
  text-decoration: none;
  border: 2px solid #6292da;
  margin-bottom: 1.5em;
  border-radius: 5px; }

.linli-button-linli {
  display: block;
  background-color: #6292da;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #fefefe;
  font-weight: normal;
  text-decoration: none;
  border: 2px solid #6292da;
  margin-bottom: 1.5em;
  border-radius: 5px; }

.linli-button--neutral {
  display: block;
  background-color: #f6f4f2;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #b8bab9;
  font-weight: normal;
  text-decoration: none;
  border: 2px solid #d5d5d3;
  margin-bottom: 1.5em;
  border-radius: 5px;
  transition: all .3s; }
  .linli-button--neutral:hover {
    border-color: #f9f9f9;
    color: #666666; }

.linli-button--glass {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #666666;
  font-weight: normal;
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
  margin-bottom: 1.5em;
  border-radius: 5px;
  transition: all .3s; }
  .linli-button--glass::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 5px; }
  .linli-button--glass:hover, .linli-button--glass:focus {
    color: #000000; }
  .linli-button--glass:hover::before, .linli-button--glass:focus::before {
    opacity: 0.9; }

@supports (-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px)) {
  .linli-button--glass {
    background-color: transparent;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    color: #ffffff; }
  .linli-button--glass::before {
    opacity: 0.4; }
  .linli-button--glass:hover, .linli-button--glass:focus {
    color: #666666;
    border-color: transparent; }
  .linli-button--glass:hover::before, .linli-button--glass:focus::before {
    opacity: 0.75; } }

.pink {
  color: #ed57dd;
  opacity: 1; }

.mattglass {
  position: relative;
  color: #666666;
  background-color: transparent;
  border-radius: 5px; }
  .mattglass::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 5px; }

@supports (-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px)) {
  .mattglass {
    background-color: transparent;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    color: #ffffff; }
  .linli-button--glass::before {
    opacity: 0.4; } }

.linli-userform {
  position: relative;
  padding: 30px;
  padding-top: 65px;
  border: 3px solid #f6f4f2;
  border-radius: 15px;
  font-size: 18px; }
  .linli-userform__header {
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    color: #666666;
    background-color: #f6f4f2;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
  .linli-userform__fieldwrap {
    margin-bottom: 27px;
    text-align: left; }
  .linli-userform__fieldname {
    text-align: left;
    font-size: inherit;
    margin-bottom: 10px;
    display: inline-block;
    color: #666666;
    background-color: #f6f4f2;
    padding: 5px;
    border-radius: 5px; }
  .linli-userform__field {
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    color: #666666;
    background-color: #f6f4f2;
    border-radius: 5px;
    border-color: #f6f4f2; }
  .linli-userform__submit {
    font-size: inherit;
    cursor: pointer; }

.linli {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b005d;
  margin: 0px; }

.profile {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  padding: 0px;
  font-size: 18px;
  background: linear-gradient(to top, #0d008a, #4c0285);
  border-radius: 20px; }
  .profile--fixed {
    border-radius: 0; }
  .profile__header {
    margin-bottom: 80px;
    display: flex;
    position: relative;
    width: 100%; }
  .profile__header--fixed {
    margin-bottom: 30px; }
  .profile__fixed-pic {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: center center;
    max-width: 650px; }
  .profile__main {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 0 15px 30px 15px;
    max-width: var(--responsive--alignwide-width); }
  .profile__main--for-fixed {
    margin-bottom: 0; }
  .profile__header-text {
    color: #fefefe;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 30px; }
  .profile__about {
    color: #fefefe;
    font-size: 18px;
    margin-bottom: 50px; }
  .profile__background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    max-width: inherit;
    height: 100%;
    z-index: 1; }
  .profile__avatar {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
    border-radius: 50%;
    background-size: cover;
    background-position: center center; }
  .profile__avatar--fixed-bcg {
    position: static;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    transform: none; }

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.entry-content a, .entry-summary a, .taxonomy-description a, .logged-in-as a, .comment-content a, .pingback .comment-body > a, .textwidget a, .entry-footer a:hover, .site-info a:hover {
  box-shadow: 0 0 0 0 currentcolor; }

.powered {
  border-top: 1px solid #fefefe;
  font-size: 18px;
  padding-top: 15px;
  margin: 0 15px 0 15px;
  text-align: center;
  color: #fefefe; }
  .powered--for-fixed {
    position: relative;
    z-index: 3; }
  .powered_link {
    color: #FFFFFF !important;
    text-decoration: none;
    line-height: 1.42; }

wpcf7-form-control.wpcf7-submit:hover {
  cursor: pointer; }
