body{
  position: relative;
  margin: 0;

  position: relative;
  background-color: $purple;
  color: $white;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
}
.main-container{
  //padding: 0 175px;
  padding: 0 9%;
}

.container{
  width: calc(100% - 30px);
  margin: 0 15px;
  @media (min-width: #{$tablet}){
    width: calc(100% - 140px);
    margin: 0 70px;
  }
}
