.main-header{
  padding-top: 73px;
  padding-bottom: 145px;
  &__logo{
    margin-right: auto;
  }
  &__top-panel{
    display: flex;
    align-items: center;

    width: 100%;
    margin-bottom: 53px;

  }
  &__content-wrap{
    display: flex;
  }
  &__left-content{
    width: 60%;
  }
  &__right-content{
    width: 40%;
  }
  &__header{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.35;
    margin-top: 0;
    margin-bottom: 23px;
  }
  &__promo{
    font-size: 25px;
    margin-bottom: 23px;
  }
  &__about{
  }
  &__description{
    font-size: 18px;
    margin-bottom: 70px;
  }
  &__img-container{
    position: relative;
    width: 70%;
    margin-right: 69px;
    padding-top: 5px;
    &:before{
      content:"";
      position: absolute;
      left:0;
      right: 0;
      width: 110%;
      height: 110%;
      background-image: url(../img/pink-round-gradient.png);
      background-size: 100% auto;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
  &__image{
    width: 100%;
    height: auto;
  }
  &__button{
    margin-left: 34px;
  }
}
